{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Sabson Hau</b><br>
      100m followers
    </div>

    <div class="col-md-9">

      {% if showForm %}
      <form action="/tweets" method="POST" class="form-inline row tweet-form">
        <div class="form-group col-md-4">
          <input name="name" type="text" id="name_field" class="form-control"
          placeholder="Name" value="{{ name }}"/>
        </div>
        <div class="form-group col-md-4">
          <input name="text" type="text" id="text_field" class="form-control"
          placeholder="Text"/>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">Tweet</button>
        </div>
      </form>
      {% endif %}

      <!-- display tweets here -->
      <h2 class="tweet-header">{{ title }}</h2>
      <div id="tweets" class="row">
        {% for tweet in tweets %}
        <div id="tweet-{{ tweet.id }}" class="row">
          <div class="col-md-4 text-right tweet-picture">
            <img src="{{ tweet.pictureurl }}">
          </div>
          <div class="col-md-8 tweet-data">
            <li class='no-bullet tweet-name'>
              <a href="/users/{{ tweet.name }}">{{ tweet.name }}</a>
            </li>
            <li class='no-bullet'>
              <a href="/tweets/{{ tweet.id }}"> {{ tweet.content }} </a>
           </li>
            <li class='no-bullet'><a href="#">Re-tweet</a></li>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
